{% extends "base.html" %}

{% block titutlo %} Nosotros {% endblock %}

{% block contenido %} 

Hola esta pagina web o blog esta echa por Luciano Fabrizio bucco y Jimmy Navarrete
<br>
Luciano: Hola soy luciano y soy un chico de 20 años que le apasiona la programacion, termine el secundario en el Instituto Leonardo Murialdo 
Y hice este "blog" con el simple reto de comenzar en el mundo de la programacion 
<br>
<br>
Soy Jimmy Navarrete, locutor en Chile con 10 años de experiencia, donde he tenido la oportunidad de conectar con diversas audiencias y perfeccionar mi estilo. 
Además, soy estudiante de informática, lo que me permite combinar mi pasión por la comunicación con mi amor por la tecnología. 
Siempre estoy en busca de nuevos aprendizajes, con una gran curiosidad por la programación y el desarrollo tecnológico.
Me encanta mantenerme al día con las últimas tendencias en tecnología y mejorar mis habilidades para crear soluciones innovadoras en este campo.
<br>
<br>
GRACIAS POR PASARTE POR NUESTRO BLOG :D
{% endblock %}

